.max-w-800 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.macro-section {
    scroll-margin-top: 80px; /* evita che la navbar copra i titoli */
}

.mt-6 {
    margin-top: var(--margin-xl)!important;
}
.py-10{
    padding-top: var(--padding-10)!important;
    padding-bottom: var(--padding-10)!important;
}

.text-bg-primary-inverso {
    color: RGBA(var(--bs-primary-rgb), var(--bs-text-opacity, 1)) !important;
    background-color: #ffffff00 !important;
}